@using MVCLIBRARY.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBL_AUTHOR>
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layout.cshtml"; }





<h2>Yazarlar Sayfası</h2>






@using (Html.BeginForm("Index", "Author", FormMethod.Get))
{
<div style="margin-bottom:15px">
    <b>Yazar Adını Girin:</b>
    @Html.TextBox("p")
    <input type="submit" value="Ara" />
</div>}




@* yazarları listelemek için bir tablo oluşturuldu*@
<table class="table table-dark table-striped table-hover">


    @* Yazar tablosunun  sütun başlıkları tanımlandı. *@
    <tr style="background-color:#3159b5;color:#ffffff">
        <th width="200">ID</th> @*yazarın ıd'si'*@
        <th width="400">YAZARIN ADI</th>@* yazarın adı soyadı*@
        <th width="200">SİL</th> @* yazarı sil butonu*@
        <th width="200">GÜNCELLE</th> @* yazarı güncelle  butonu*@
        <th width="300">YAZARIN KİTAPLARI</th> @* yazarın kitapları butonu*@
    </tr>


    @*kayıtlar için teker teker yazmak uzun olacağından foreach döngüsü ile veritabanındaki kayıt sayısı kadar bu döngü dönecek. *@
    @foreach (var author in Model)
    {
        <tr>
            <td>@author.ID</td> @*yazarın ıd'si'*@
            <td>@author.NAME&nbsp;@author.SURNAME</td>  @*yazarın adı - boşluk - soyadı*@
            <td>@Html.ActionLink("SİL", "AuthorDelete", new { id = author.ID },new { @class = "btn btn-danger", onclick = "return confirm('SİLMEK İSTİYOR MUSUNUZ?')" })</td> @* sil butonuna tıklandığında AuthorDelete metoduna gitmeli *@
            <td><a href="/Author/AuthorGet/@author.ID" class="btn btn-warning">GÜNCELLE</a></td> @*güncelle butonuna tıklandığında AuthorGet metoduna gitmeli*@
            <td><a href="/Author/AuthorBook/@author.ID" class="btn btn-success">KİTAPLARI</a></td>@*yazarın kitapları butonuna tıklandığında AuthorBook metoduna gitmeli*@
        </tr>
    }

</table>



@*Paged list için*@
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))


@*Sayfanın en altında YENİ YAZAR EKLE butonu/linki yer alır. Bu linke tıklandığında Author controllerındaki AuthorAdd() adlı action result çalışır. *@
<a class="btn btn-primary" href="/Author/AuthorAdd/">YENİ YAZAR EKLE</a>


@*Sayfanın en altında SİLİNEN YAZARLAR butonu/linki yer alır. Bu linke tıklandığında Author controllerındaki RemovedAuthorIndex() adlı action result çalışır. *@
<a class="btn btn-primary" href="/Author/RemovedAuthorIndex/">SİLİNEN YAZARLAR</a>



