@model MVCLIBRARY.Models.Entity.TBL_USER
@{
    ViewBag.Title = "UserGet";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("UserUpdate", "User", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">

        <div style="margin-bottom:15px">
            @Html.HiddenFor(m => m.ID);
        </div>
        <div style="margin-bottom:15px">
            <label>Üye Adı</label>
            @Html.TextBoxFor(user => user.NAME, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Soyadı</label>
            @Html.TextBoxFor(user => user.SURNAME, new { @class = "form-control" }) 
        </div>        
        <div style="margin-bottom:15px">
            <label>Kullanıcı Adı</label>
            @Html.TextBoxFor(user => user.USERNAME, new { @class = "form-control" }) 
        </div>
        <div style="margin-bottom:15px">
            <label>Şifre</label>
            @Html.TextBoxFor(user => user.PASSWORD, new { @class = "form-control" }) 
        </div>
        <div style="margin-bottom:15px">
            <label>Mail Adresi</label>
            @Html.TextBoxFor(user => user.MAIL, new { @class = "form-control" }) 
        </div>
        <div style="margin-bottom:15px">
            <label>Telefon Numarası</label>
            @Html.TextBoxFor(user => user.TELEPHONENUM, new { @class = "form-control" }) 
        </div>
        <div style="margin-bottom:15px">
            <label>Okul</label>
            @Html.TextBoxFor(user => user.SCHOOL, new { @class = "form-control" }) 
        </div>
        <div style="margin-bottom:15px">
            <label>Fotoğraf Linki</label>
            @Html.TextBoxFor(user => user.PHOTOGRAPH, new { @class = "form-control" }) 
        </div>


    </div>


    <div>
        <button class="btn btn-warning">GÜNCELLE</button>  @*güncelle butonu*@
    </div>
}



