@model MVCLIBRARY.Models.Entity.TBL_EMPLOYEE
@{
    ViewBag.Title = "EmployeeAdd";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@*-------------------------------------------------------------------*@
<form class="form-group" method="post">

    <div style="margin-top:15px">
        <label>Personel Adı</label>
        @Html.TextBoxFor(employee => employee.NAME, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Soyadı</label>
        @Html.TextBoxFor(employee => employee.SURNAME, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Mail Adresi</label>
        @Html.TextBoxFor(employee => employee.MAIL, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Telefon Numarası</label>
        @Html.TextBoxFor(employee => employee.TELEPHONENUM, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Çalıştığı Kütüphane</label>
        @Html.DropDownListFor(employee => employee.TBL_LIBRARY.ID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Adresi</label>
        @Html.TextBoxFor(employee => employee.ADDRESS, new { @class = "form-control" })
    </div>
@*----------------------------------------------------------------------------------------------------------*@
    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1">PERSONEL EKLE</button>
    </div>
@*-----------------------------------------------------------------------------------------------------------*@
</form>



